.form{
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__error{
  margin: 0 0 $m-size 0;
  font-style: italic;
  border: 1px solid tomato;
  border-radius: 5px;
  text-align: center;
  color: tomato;
  padding: $s-size;
}